<!DOCTYPE html>
<html data-ng-app="todoApp">
<head>
    <title>代办事项</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body data-ng-controller="todoCtrl">
<div class="container">
    <div class="jumbotron text-center">
        <h1>TODO <span class="label label-info"><span data-ng-bind="count"></span></span></h1>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" data-ng-repeat="todo in todos">
                <label for="">
                    <input name="todoname" value="{{todo._id}}" type="checkbox"/>
                    {{todo.text}}
                </label>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/lib/angular/angular.min.js" type="text/javascript"></script>
<script src="/javascripts/app.js" type="text/javascript"></script>
</html>
